/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: IBM Plex mono;
  --bg-color: #000028;
  --title-color: #000028;
  --accent-text: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --logo-color: #db00ff;
  --padding: 10px;
  --font-size: 18px;
  --hover-button-border: 1px solid rgba(255, 0, 112, 0.4);
  --border: 1px solid #ff0070;
  --a-focus-border: 1px solid #f1b2ce;
}

.theme_light {
  --bg-color: #fff1f7;
  --title-color: #353430;
  --accent-text: #353430;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --logo-color: #ffc2e6;
  --hover-button-border: 1px solid rgba(50, 49, 45, 0.4);
  --border: 1px solid #353430;
  --a-focus-border: #353430;
}
