/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: IBM Plex mono, monospace;
  --bg-color: #000028;
  --title-color: #000028;
  --shadow: #ff0070;
  --accent-text: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --logo-color: #db00ff;
  --padding: 10px;
  --font-size: 18px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --hover-button-border: 1px solid rgba(255, 0, 112, 0.4);
  --border: 1px solid #ff0070;
  --link-focus-border: 1px solid #f1b2ce;
}

@media (width >= 768px) {
  :root {
    --padding: 20px;
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
